[Unit]
Description=Trigger fsa (CORA filesystem autoscaler) every 30s
[Timer]
OnBootSec=30s
OnUnitInactiveSec=30s
AccuracySec=1s
Persistent=true
[Install]
WantedBy=timers.timer
